body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 500px;
}
#get_url input {
  width:400px;
}
#status {
  /* avoid an excessively wide status text */
}

table {
  width: 100%;
}

.convo-td {
  width: 300px;
}

tr td {
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  border-bottom: 1px solid black;
}

td div {
  width: 240px;
  padding-bottom: 10px;
}

[data-author_index] {
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  margin: 10px;
}

[data-author_index="0"] {
  background-color: #e9f6fc;
  border: 1px solid #a7def1;
  margin-right: auto;
}

[data-author_index="1"] {
  margin-left: auto;
  background-color: #fffbe8;
  border: 1px solid #f6eab7;
}

[data-author_index="2"] {
  margin-left: auto;
  background-color: #E0F7EF;
  border: 1px solid #D5E8E2;
}

#gears {
  display: inline-block;
  margin: 0 auto;
  width: 100px;
}

.score {
  font-size: 20px;
  font-weight: bold;
}
.link-circle, .score-circle {
  background-color: peachpuff;
  border-radius: 100%;
  padding: 0;
}

.link-circle {
  border: 1px solid #FBDAAE;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  line-height: 3.675;
}

.score-circle {
  border: 1px solid #FBDAAE;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  line-height: 4.5;
}

